@page
@model DifficultyModel
@{
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input name="name" class="form-control" placeholder="Enter Difficulty">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var difficulty in Model._difficulties)
            {
                <tr>
                    <th scope="row">@difficulty.Id</th>
                    <td>@difficulty.Name</td>
                    <td>
                        <a asp-page="/Difficulties/Update" asp-route-id="@difficulty.Id"><button type="button" class="btn btn-primary btn-sm">Update</button></a> /
                        <a asp-page="/Difficulties/Delete" asp-route-id="@difficulty.Id"><img width="25" height="25" src="https://img.icons8.com/stickers/100/delete-trash.png" alt="delete-trash" /></a> /
                        <a asp-page="/Difficulties/Retrieve" asp-route-id="@difficulty.Id"><img width="25" height="25" src="https://img.icons8.com/dusk/64/ophthalmology.png" alt="ophthalmology" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
