@page
@model CookLabWeb.Pages.Recipes.AllRecipeModel
@{

}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded w-75">
        <h1>@Model.Recipe.Title</h1>
        </br>
        <h4> <p>@Model.Recipe.PrepTime Minutes</p></h4>
        </br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Measure</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var ingredients in Model.Recipe.Ingredient)
                {
                    <tr>

                        <td>@ingredients.Ingredient.Name</td>
                        <td>@ingredients.quantity</td>
                        <td>@ingredients.Measure.Name</td>


                    </tr>
                }
            </tbody>
        </table>
        <p>@Model.Recipe.PrepMethod</p>

        <a asp-page="/Recipes/UpdateRecipe" asp-route-id="@Model.Recipe.Id"><i class="fa-regular fa-pen-to-square"></i></a>


    </div>
</div>




