@page
@model CookLabWeb.Pages.Recipes.ListRecipesModel
@{
}

<h1>Awaits approval</h1>
<div class="col">

    @foreach (var recipes in Model.Recipes)
    {
        if (recipes.IsApproved == false)
        {


            <div class="card" style="width: 18rem; display:inline-block;">
                @if (recipes.Image.Equals(""))
                {
                    <img height="159" width="155" src=" /img/noimg.jpg" class="card-img-top" alt="...">
                }
                else
                {

                    <img height="159" width="155" src="/img/@recipes.Image" class="card-img-top" alt="...">
                }
                <div class="card-body">
                    <h5 class="card-title">@recipes.Title</h5>
                    <p class="card-text">@recipes.PrepTime Minutes</p>
                    <a class="btn btn-primary" asp-page="/Recipes/UpdateRecipe" asp-route-id="@recipes.Id"><i class="fa-regular fa-pen-to-square"></i> Edit </a>
                    <a class="btn btn-primary" asp-page="/Recipes/AllRecipe" asp-route-id="@recipes.Id"> View </a>
                    <a class="btn btn-primary" asp-page="/Recipes/Delete" asp-route-id="@recipes.Id"> Delete </a>

                </div>

            </div>

        }
    }
</div>
