@page
@using CookLab.Model;
@model CookLabWeb.Pages.Recipes.RecipeModel
@{
    

}
<form  method="post">
    <div class="form-group">

        <label>ID:</label>
        <input readonly name="id" class="form-control" placeholder="">
        <label>Title</label>
        <input name="title" class="form-control" placeholder="Enter Title">
        <br />
        <label>Descrição</label>
        <input name="method" class="form-control" placeholder="Describe">
        <br />
        <label>Tempo</label>
        <input type="number" name="time" class="form-control" placeholder="Enter Time">
        <br />

        <br />
        <p>Please select: Is Appro?</p>
        <input type="radio" id="iszero" name="approved" value="false">
        <label for="iszero">No</label>
        <br />
        <input type="radio" id="isone" name="approved" value="true">
        <label for="isone">Yes</label>
        <br>

        <p>Select a Category</p>
        <select name="category" class="form-select" aria-label="Default select example">
            <option selected>Select a option</option>
            @foreach (Category category in Model.Categories)
            {

                <option value="@category.Id">@category.Name</option>
            }

        </select>


        <p>Select a Difficulty</p>
        <select name="difficulty" class="form-select" aria-label="Default select example">
            <option selected>Select a option</option>
            @foreach (Difficulty difficulties in Model.Difficulties)
            {
                <option value="@difficulties.Id">@difficulties.Name</option>
            }

        </select>

    </div>
    <br />
    
      <button  type="submit" class="btn btn-primary">Submit</button>
    

</form>
@*<a asp-page="/Recipes/AddIngredient" asp-route-id="@Model.Recipe.Id">Adicionar Ingredientes a receita</a>*@

<br />
@*
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.categories)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Name</td>
                <td>
                    <a asp-page="/Categories/Update" asp-route-id="@category.Id"><button type="button" class="btn btn-primary btn-sm">Update</button></a> /
                    <a asp-page="/Categories/Delete" asp-route-id="@category.Id"><img width="25" height="25" src="https://img.icons8.com/stickers/100/delete-trash.png" alt="delete-trash" /></a> /
                    <a asp-page="/Categories/Retrieve" asp-route-id="@category.Id"><img width="25" height="25" src="https://img.icons8.com/dusk/64/ophthalmology.png" alt="ophthalmology" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>*@