@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var i = 0;
    var a = 0;


}
@if (Model.User is null)
{
    <h1 class="display-4">Welcome Guest</h1>
}
else
{
    <h1 class="display-4">Welcome @Model.User.Name</h1>
    @if (Model.User.IsAdmin)
    {
        <div>Admin</div>
    }
    else
    {
        <div>User</div>
    }
}
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded w-75">
        <div class="container">
            <div id="carouselExample" class="carousel slide" data-bs-theme="dark">
                <div class="carousel-inner">
                    @foreach (var recipe in Model.Recipes)
                    {
                        @if (recipe.Category.Id.Equals(1006))
                        {
                            i++;
                            var active = i == 1 ? "active" : "";
                            <div class="carousel-item @active" style=" height: 20em">
                                <h1>@recipe.Category.Name</h1>
                                @if (recipe.Image.Equals(""))
                                {
                                    <img src="/img/noimg.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@recipe.Title</h5>

                                    </div>
                                }
                                else
                                {
                                    <img src="/img/@recipe.Image" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@recipe.Title</h5>

                                    </div>
                                }
                            </div>
                        }

                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>


    </div>
    </br>
    </div>

    <h1>teste</h1>

  