@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var i = 0;
    var a = 0;


}
<div class="container text-center">
    <div class="row">

        <div class="shadow p-3 mb-5 bg-body-tertiary rounded w-75" style="margin-left:5%;">



            <div class="col-sm-13">
               



                <div id="carouselExample" class="carousel slide" data-bs-theme="dark">
                    <div class="carousel-inner">
                        @foreach (var recipe in Model.Recipes)
                        {

                            i++;
                            var active = i == 1 ? "active" : "";
                            <div class="carousel-item @active" style=" height: 20em">
                                <h1>@recipe.Category.Name</h1>
                                @if (recipe.Image.Equals(""))
                                {
                                    <img src="/img/noimg.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@recipe.Title</h5>

                                    </div>
                                }
                                else
                                {
                                    <img src="/img/@recipe.Image" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@recipe.Title</h5>

                                    </div>
                                }
                            </div>


                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>





                <div style="padding-left: 25%; margin-top: 5%; ">


                    @foreach (var recipe in Model.Recipes)
                    {
                        if (recipe.IsApproved == true)
                        {


                            <div class="card" style="width: 30rem; margin-bottom:2%;">
                                @if (recipe.Image.Equals(""))
                                {
                                    <img src="/img/noimg.jpg" class="card-img-top" alt="...">
                                }
                                else
                                {
                                    <img src="/img/@recipe.Image" class="card-img-top" alt="...">
                                }
                                <div class="card-body">
                                    <h5 class="card-title">@recipe.Title</h5>
                                    <p class="card-text">@recipe.PrepTime Minutes</p>

                                    <a class="btn btn-primary" asp-page="/Recipes/AllRecipe" asp-route-id="@recipe.Id"> View </a>


                                </div>

                            </div>


                        }
                    }
                </div>





            </div>



        </div>
        <div class="col-sm" style="
                                             position: fixed;
                                              right: 0;
                                             top: auto;
                                               width: 23em;
                                             margin-top: auto; ">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded w-75 ">




                @if (Model.User is null)
                {
                    <p>Welcome Guest</p>
                }
                else
                {
                    <p>Welcome Chef @Model.User.Name !</p>
                    @if (Model.User.IsAdmin)
                    {
                        <div>Admin</div>
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-page="/Recipes/Recipe" asp-route-id=""><i class="fa-regular fa-pen-to-square"></i> Create a Recipe! </a>

                    }
                }
            </div>
        </div>

    </div>
</div>


