@page
@model IngredientModel
@{

    <form method="post">
        <div class="form-group">
            <label>Ingredient</label>
            <input name="name" class="form-control" placeholder="Enter Ingridient">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Ingredient</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model._ingredients)
            {
                <tr>
                    <th scope="row">@ingredient.Id</th>
                    <td>@ingredient.Name</td>
                    <td>
                        <a asp-page="/Ingredients/Update" asp-route-id="@ingredient.Id">Update</a> /
                        <a asp-page="/Ingredients/Delete" asp-route-id="@ingredient.Id">Delete</a> /
                        <a asp-page="/Ingredients/Retrieve" asp-route-id="@ingredient.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>




}
