@page
@model CookLabWeb.Pages.Users.UserModel
@{
}

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">IsAdmin</th>
            <th scope="col">IsBlocked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in Model.Users)
        {
            <tr>
                <th scope="row">@users.Id</th>
                <td>@users.Name</td>
                <td>@users.Username</td>
                <td>@users.Email</td>
                <td>@users.IsAdmin</td>
                <td>@users.IsBlocked</td>

                <td>
                    <a asp-page="/Users/Update" asp-route-id="@users.Id"><i class="fa-regular fa-pen-to-square"></i> </a> /
                    <a asp-page="/Users/Delete" asp-route-id="@users.Id"><i class="fa-solid fa-trash"></i></a> /
                    <a asp-page="/Users/Retrieve" asp-route-id="@users.Id"><i class="fa-solid fa-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>




